<% if current_user %><h1>Hi, <%= current_user.first_name %></h1><% end %>
<p>Find me in app/views/pages/home.html.erb</p>

<h2>Blog Pages</h2>
<%= @posts.inspect %>

<h2>Skills</h2>
<%= @skills.inspect %>

